.spaceship-container {
  background: white;
  height: 100%;
  border-radius: 5px;
  padding: 10px;
  line-height: 1.5rem;
  box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.29);
}
.description {
  margin: 10px 0 10px 0;
  font-weight: bold;
}
.bold {
  font-weight: bold;
}
.spaceship-pic {
  width: 100%;
  float: left;
}
img {
  width: 100%;
}
.spaceship-info {
  width: 100%;
  float: left;
}
.techspecs {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 0.8rem;
}
